<div class="text-center h1_recipe ">
  <h1 class="recipe-h1">Your choice of recipes</h1>
</div>




<div class="container-recipe">
  <div id="cards">
    <% @produce_recipes.each do |produce_recipe| %>
    <div class="card">
    <div>
      <% if !current_user %>
        <%= link_to new_user_session_path, class:"iconfav" do %>
          <%= render "like_button", produce_recipe: produce_recipe %>
        <% end %>
      <% else %>
        <%= link_to toggle_favorite_recipe_path(produce_recipe.recipe, params: {produce_id: produce_recipe.produce.id}), data: {turbo_method: :post}, class:"iconfav" do %>
          <%= render "like_button", produce_recipe: produce_recipe %>
        <% end %>
      <% end %>



      <img class="card-img-top" src="<%= produce_recipe.recipe.img %>" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title"><%= produce_recipe.recipe.name %></h5>
        <p class="card-text"><%= produce_recipe.recipe.description.truncate(114) %></p>
      </div>
    </div>
    <div class= "recipe-btn" style= "background-color: transparent; text-align: center">
      <a target="_blank" href="<%= produce_recipe.recipe.url %>" class="btn btn-primary">Cook me!</a>
    </div>
    </div>
    <% end %>
  </div>
</div>
