<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <%= link_to root_path, class: "navbar-brand" do %>
      <h3 class="nav-h4">Fresh Picks <i class="fa-solid fa-leaf fa-1x"></i></h3>
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
        <div class="nav-link">
          <li class="nav-item">
            <%= link_to "Home", root_path , class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "My Picks",  dashboard_path, class: "nav-link" %>
          </li>
        </div>

            </div>
          </li>
        <% else %>
          <div class="nav-link">
            <li class="nav-item">
            <%= link_to "Home", "", class: "nav-link" %>
          </li>
            <li class="nav-item">
              <%= link_to "Login", new_user_session_path, class: "nav-link" %>
            </li>
           </div>
        <% end %>
      </ul>
    </div>
  </div>
</div>
