
  <div class="h1_recipe text-center">
  <h2 class="dash-h1">My favorite recipes</h2>
  </div>

  <div class="container-recipe">
    <div id="cards">
      <% @recipes.each do |recipe| %>
      <div class="card" style="width: 22rem;">
      <div>
      <% if !current_user %>
        <%= link_to new_user_session_path, class:"iconfav" do %>
          <%= render "like_button", recipe: recipe %>
        <% end %>
      <% else %>
        <%= link_to toggle_favorite_recipe_path(recipe, params: {produce_id:recipe.produce.ids.flatten}), data: {turbo_method: :post}, class:"iconfav" do %>
          <%= render "like_button", recipe: recipe %>
        <% end %>
      <% end %>
        <img class="card-img-top" src="<%= recipe.img %>" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title"><%= recipe.name %></h5>
          <p class="card-text"><%= recipe.description.truncate(114) %></p>
        </div>
      </div>
      <div class= "recipe-btn" style= "background-color: transparent; text-align: center">
        <a target="_blank" href="<%= recipe.url %>" class="btn btn-primary">Cook me!</a>
      </div>
      </div>
      <% end %>
    </div>
  </div>
