

         <div class="index-card">
    <h2> <%= produce.name %></h2>
    <% if produce.photo.attached? %>
          <%= cl_image_tag produce.photo.key %>
          <% end %>
    <div class="descriptions">
       <h2> <%= produce.name %></h2>
        <p><%= produce.description %></p>
        <%= button_to "More about me!", produce_path(produce), {:class => "card-btn", :method => :get} %>
     </div>
</div>
