<div class="index-card">
  <h3> <%= produce.name %></h3>
  <% if produce.photo.attached? %>
     <%= cl_image_tag produce.photo.key %>
   <% end %>
    <div class="descriptions">
      <h3> <%= produce.name %></h3>
      <p><%= produce.description.truncate(300) %></p>
      <%= button_to "More about me!", produce_path(produce), {:class => "card-btn", :method => :get} %>
     </div>
</div>
