<div class="grid-container">

<div class="grid-child-1">
<%= cl_image_tag @produce.photo.key, width: 700, height: 700, class: "rounded" %>
</div>

<div class="grid-child-2">
<h1 class= "show-h1"><%= @produce.name %></h1>
      <p class="description_p"> <%= @produce.description %></p>

    <br>

      <div class="recipe-link">
        <p><strong>Think I sound good? Click here for recipes! </strong><i class="fa-solid fa-arrow-right"></i> <%= button_to "How to eat me!", produce_recipes_path(@produce), {:class => "recipe-btn", :method => :get} %> </p>
      </div>



      <div class="rounded nutrition-card">
        <h2>What is in me?</h2>
        <ul>
        <li><%= @produce.nutrition_calories%></li>
        <li><%= @produce.nutrition_fat%></li>
        <li><%= @produce.nutrition_protein%></li>
        <li><%= @produce.nutrition_carbs%></li>
        <li><%= @produce.nutrition_sugar%></li>
        <li><%= @produce.nutrition_fiber%></li>
        </ul>
      </div>

  </div>
</div>
